Repository boostcampwm-2022/web14-interface, pull requests merged in 2022-12, with the labels that each got.

#82 Room interview socket event 구현
  backend/socket/src/constant/event.constant.ts
  backend/socket/src/constant/room.constant.ts
  backend/socket/src/constant/user.constant.ts
  backend/socket/src/room/repository/inmemory-room.repository.ts
  backend/socket/src/room/repository/interface-room.repository.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/room.module.ts
  backend/socket/src/room/room.service.ts
  backend/socket/src/room/service/connection/connection.service.spec.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.spec.ts
  backend/socket/src/room/service/interview/interview.service.ts
  backend/socket/src/types/room.type.ts
Labels: 💾backend, ✨feature

#76 protected routing 로직변경
  frontend/.gitignore
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/Waitting/Waitting.tsx
  frontend/src/routes/PrivateRoutes.tsx
  frontend/src/routes/PublicRoutes.tsx
  frontend/src/routes/RootRoutes.tsx
  frontend/src/service/socket.ts
  frontend/src/setupProxy.js
  frontend/src/store/authState.ts
Labels: 🖥️frontend, ⚙️setting, 🛠️refactor

#77 VideoGrid 제작
  frontend/src/components/@shared/VideoGrid/VideoGrid.style.ts
  frontend/src/components/@shared/VideoGrid/VideoGrid.tsx
Labels: 🖥️frontend, ✨feature

#83 client socket api 연결
  backend/socket/src/room/repository/inmemory-room.repository.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.ts
  frontend/src/hooks/useSafeNavigate.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Waitting/Waitting.tsx
  frontend/src/routes/PrivateRoutes.tsx
  frontend/src/service/socket.ts
  frontend/src/setupProxy.js
  frontend/src/store/room.atom.ts
Labels: 🐞bug, 🖥️frontend, 💾backend, ✨feature

#86 소켓 서버 리팩토링 및 webRTC 로직 추가
  .husky/pre-commit
  backend/socket/package.json
  backend/socket/src/constant/event.constant.ts
  backend/socket/src/constant/room.constant.ts
  backend/socket/src/filter/socket-exception.filter.ts
  backend/socket/src/interceptor/socket-response.interceptor.ts
  backend/socket/src/room/dto/socket-response.dto.ts
  backend/socket/src/room/dto/webrtc.dto.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.ts
  backend/socket/src/room/service/webRTC/webrtc.service.ts
  backend/socket/src/types/room.type.ts
  backend/socket/yarn.lock
  frontend/src/routes/RootRoutes.tsx
Labels: 💾backend, 🛠️refactor

#91 Socket webrtc 실제 테스트 후 리팩토링
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/room.module.ts
  backend/socket/src/room/service/webRTC/webrtc.service.ts
  frontend/src/hooks/useWebRTCSignaling.ts
Labels: 🐞bug, 💾backend

#93 Hotfix/ci cd 수정
  backend/socket/Dockerfile
  frontend/package.json
Labels: 🐞bug

#97 safeNavigator 타이밍 문제
  frontend/src/constants/page.constant.ts
  frontend/src/constants/phase.constant.ts
  frontend/src/hooks/useSafeNavigate.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Waitting/Waitting.tsx
  frontend/src/routes/PrivateRoutes.tsx
  frontend/src/routes/PublicRoutes.tsx
  frontend/src/routes/RootRoutes.tsx
  frontend/src/routes/StrictRoute.tsx
  frontend/src/store/page.atom.ts
  frontend/src/store/phase.atom.ts
  frontend/src/utils/getPathWithPage.ts
  frontend/src/utils/getPathWithPhase.ts
Labels: 🐞bug, 🖥️frontend

#109 join interview에 interviewee 값 전달
  backend/socket/@types/woowa-babble.d.ts
  backend/socket/src/room/service/interview/interview.service.ts
Labels: 💾backend, 🛠️refactor

#103 Button 컴포넌트 만들기
  frontend/.storybook/preview.js
  frontend/src/components/@shared/Button/Button.stories.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Button/Button.tsx
Labels: 🖥️frontend, ✨feature, 🌈 style

#94 Lobby에 API 붙이기
  frontend/src/hooks/useWebRTCSignaling.ts
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/store/webRTC.atom.ts
  frontend/tsconfig.paths.json
Labels: help wanted, 🖥️frontend, ✨feature

#95 interviewer 페이지 로직 만들기
  backend/socket/src/room/service/interview/interview.service.ts
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/store/room.atom.ts
Labels: 🖥️frontend, ✨feature

#113 hotfix - isAuth true로 변경
  frontend/src/routes/RootRoutes.tsx
Labels: 🐞bug, release

#114 hotfix - isAuth true로 변경 여부 main Merge
  frontend/src/routes/RootRoutes.tsx
Labels: 🐞bug, release

#116 socket server 소켓 이벤트 발생 주체 변경
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.ts
  backend/socket/src/room/service/webRTC/webrtc.service.ts
Labels: 💾backend, 🛠️refactor

#117 로비 재진입 시 webrtc 시그널링 재시도 버그
  backend/socket/Dockerfile
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/service/interview/interview.service.ts
  backend/socket/src/room/service/webRTC/webrtc.service.ts
  frontend/package.json
  frontend/src/pages/Lobby/Lobby.tsx
Labels: 🐞bug, 🖥️frontend, 💾backend

#122 90 socket video 업로드 기능
  backend/socket/.gitignore
  backend/socket/package.json
  backend/socket/src/app.module.ts
  backend/socket/src/config/env.config.ts
  backend/socket/src/constant/env.constant.ts
  backend/socket/src/constant/event.constant.ts
  backend/socket/src/constant/index.ts
  backend/socket/src/filter/socket-exception.filter.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/room.module.ts
  backend/socket/src/room/service/objectstorage/objectstorage.service.ts
  backend/socket/yarn.lock
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/service/mediaStreamer.ts
  frontend/src/store/webRTC.atom.ts
Labels: 🖥️frontend, 💾backend, ✨feature, 🛠️refactor

#99 BottomBar, SideBar User 추가
  backend/socket/src/room/room.gateway.ts
  changelog.config.js
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.tsx
  frontend/src/components/@drawer/RecordDrawer/RecordDrawer.tsx
  frontend/src/components/@drawer/UserDrawer/UserDrawer.style.ts
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/BottomBar/BottomBar.style.ts
  frontend/src/components/BottomBar/BottomBar.tsx
  frontend/src/pages/Lobby/Lobby.style.ts
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/styles/commonStyle.ts
Labels: 🖥️frontend, ✨feature

#121 Auth routing 로직 리팩터링
  frontend/src/hooks/useSafeNavigate.ts
  frontend/src/hooks/useSafeNavigator.ts
  frontend/src/routes/PrivateRoutes.tsx
Labels: 🖥️frontend, 🛠️refactor

#120 모든 사용자가 나갔을 때 방 삭제
  backend/socket/src/room/repository/inmemory-room.repository.ts
  backend/socket/src/room/repository/interface-room.repository.ts
  backend/socket/src/room/service/connection/connection.service.ts
Labels: 💾backend, ✨feature

#125 124 video stream 전달 로직 버그 수정
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/service/objectstorage/objectstorage.service.ts
  frontend/src/service/mediaStreamer.ts
Labels: 🐞bug, 🖥️frontend, 💾backend

#134 130 rest 서버 interceptor 및 exception filter 구현
  backend/rest/src/auth/controller/auth.controller.ts
  backend/rest/src/auth/service/auth.service.spec.ts
  backend/rest/src/auth/service/auth.service.ts
  backend/rest/src/auth/strategy/access-jwt.strategy.ts
  backend/rest/src/auth/strategy/refresh-jwt.strategy.ts
  backend/rest/src/config/env.config.ts
  backend/rest/src/constant/http.constant.ts
  backend/rest/src/filter/http-exception.filter.ts
  backend/rest/src/interceptor/http.interceptor.ts
  backend/rest/src/interview/controller/interview.controller.ts
  backend/rest/src/interview/repository/interview.repository.ts
  backend/rest/src/interview/repository/typeorm-interview.repository.ts
  backend/rest/src/interview/service/interview.service.ts
  backend/rest/src/main.ts
  backend/rest/src/types/auth.type.ts
  backend/rest/src/user/controller/user.controller.spec.ts
  backend/rest/src/user/controller/user.controller.ts
  backend/rest/src/user/entities/typeorm-user.builder.ts
  backend/rest/src/user/entities/typeorm-user.entity.ts
  backend/rest/src/user/entities/user.entity.ts
  backend/rest/src/user/repository/typeorm-user.repository.ts
  backend/rest/src/user/service/user.service.spec.ts
  backend/rest/src/user/service/user.service.ts
  backend/rest/src/user/user.module.ts
Labels: 💾backend, ✨feature, 🛠️refactor

#132 TextField 컴포넌트 구현
  frontend/src/components/@shared/TextField/TextField.stories.tsx
  frontend/src/components/@shared/TextField/TextField.style.ts
  frontend/src/components/@shared/TextField/TextField.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
Labels: 🖥️frontend, ✨feature, 💄 design

#135 127 feedback 페이지 자잘한 버그 수정 및 스타일링
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/@shared/RoundButton/RoundButton.stories.tsx
  frontend/src/components/@shared/RoundButton/RoundButton.style.ts
  frontend/src/components/@shared/RoundButton/RoundButton.tsx
  frontend/src/components/EditableFeedbackBox/EditableFeedbackBox.style.ts
  frontend/src/components/EditableFeedbackBox/EditableFeedbackBox.tsx
  frontend/src/components/FeedbackArea/FeedbackArea.style.ts
  frontend/src/components/FeedbackArea/FeedbackArea.tsx
  frontend/src/components/FeedbackForm/FeedbackForm.style.ts
  frontend/src/components/FeedbackForm/FeedbackForm.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/customType/feedback.d.ts
  frontend/src/hooks/useCrudFeedback.ts
  frontend/src/hooks/useSafeNavigate.ts
  frontend/src/hooks/useSafeNavigator.ts
  frontend/src/pages/Feedback/Feddback.style.ts
  frontend/src/pages/Feedback/Feedback.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Waitting/Waitting.tsx
  frontend/src/routes/RootRoutes.tsx
  frontend/src/routes/StrictRoute.tsx
  frontend/src/store/auth.store.ts
  frontend/src/store/currentVideoTime.store.ts
  frontend/src/store/feedback.store.ts
  frontend/src/store/page.store.ts
  frontend/src/store/room.store.ts
  frontend/src/store/webRTC.store.ts
  frontend/src/styles/globalStyle.ts
Labels: 🖥️frontend, ✨feature, 💄 design

#136 Modal 컴포넌트 만들기
  frontend/src/App.tsx
  frontend/src/components/@drawer/RecordDrawer/RecordDrawer.tsx
  frontend/src/components/@shared/DocsItem/DocsItem.tsx
  frontend/src/components/@shared/Modal/Modal.stories.tsx
  frontend/src/components/@shared/Modal/Modal.style.ts
  frontend/src/components/@shared/Modal/Modal.tsx
  frontend/src/components/@shared/TextField/TextField.style.ts
  frontend/src/components/@shared/TextField/TextField.tsx
  frontend/src/components/ModalManager.tsx
  frontend/src/constants/modal.constant.ts
  frontend/src/hooks/useModal.tsx
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/store/currentModal.atom.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
Labels: 🖥️frontend, ✨feature

#143 피드백 관련 컴포넌트 리팩토링 및 문서화
  frontend/src/components/@drawer/RecordDrawer/RecordDrawer.tsx
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.stories.tsx
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.tsx
  frontend/src/components/DocsItem/DocsItem.stories.tsx
  frontend/src/components/DocsItem/DocsItem.style.ts
  frontend/src/components/DocsItem/DocsItem.tsx
  frontend/src/components/FeedbackArea/FeedbackArea.style.ts
  frontend/src/components/FeedbackArea/FeedbackArea.tsx
  frontend/src/components/FeedbackEditBtns/FeedbackEditBtns.style.ts
  frontend/src/components/FeedbackEditBtns/FeedbackEditBtns.tsx
  frontend/src/components/FeedbackItem/FeedbackItem.stories.tsx
  frontend/src/components/FeedbackItem/FeedbackItem.style.ts
  frontend/src/components/FeedbackItem/FeedbackItem.tsx
  frontend/src/components/FeedbackList/FeedbackList.style.ts
  frontend/src/components/FeedbackList/FeedbackList.tsx
  frontend/src/pages/Feedback/Feedback.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
Labels: 🖥️frontend, 🛠️refactor

#145 [WIP] socket server redis room repository 구현체 구현
  backend/rest/src/interview/entities/typeorm-interview-docs.entity.ts
  backend/socket/package.json
  backend/socket/src/app.module.ts
  backend/socket/src/config/index.ts
  backend/socket/src/config/redis.adapter.ts
  backend/socket/src/constant/event.constant.ts
  backend/socket/src/main.ts
  backend/socket/src/room/repository/inmemory-room.repository.ts
  backend/socket/src/room/repository/redis-room.repository.ts
  backend/socket/src/room/repository/room.repository.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.ts
  backend/socket/src/room/service/objectstorage/objectstorage.service.ts
  backend/socket/src/room/service/webRTC/webrtc.service.ts
  backend/socket/src/types/room.type.ts
  backend/socket/yarn.lock
Labels: 🐞bug, 💾backend

#147 endfeedback 인터페이스 변경 및 자잘한 에러 수정
  frontend/src/customType/dto.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/yarn.lock
Labels: 🐞bug, 🖥️frontend, 💾backend

#141 Landing 페이지 리팩토링
  frontend/src/api/socket.api.ts
  frontend/src/components/Modal/EnterRoomModal.tsx
  frontend/src/components/Modal/InterviewDocsModal.tsx
  frontend/src/components/ModalManager.tsx
  frontend/src/constants/modal.constant.ts
  frontend/src/hooks/useModal.tsx
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Landing/Landing.style.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Login/Login.style.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/store/currentModal.store.ts
  frontend/src/styles/globalStyle.ts
Labels: 🖥️frontend, ✨feature, 💄 design

#154 feedback 종료 이벤트가 emit되지 않는 문제
  backend/socket/package.json
  backend/socket/src/main.ts
  backend/socket/src/room/repository/redis-room.repository.ts
  backend/socket/yarn.lock
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Landing/Landing.tsx
  package.json
Labels: 🐞bug, 🖥️frontend

#156 [HOTFIX] mediaStreamer 모듈 에러 수정
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/service/mediaStreamer.ts
Labels: 🐞bug, 🖥️frontend

#158 interviewee, interviewer, waiting 페이지 스타일링
  frontend/src/components/FeedbackEditBtns/FeedbackEditBtns.tsx
  frontend/src/components/FeedbackForm/FeedbackForm.style.ts
  frontend/src/components/FeedbackForm/FeedbackForm.tsx
  frontend/src/components/FeedbackItem/FeedbackItem.style.ts
  frontend/src/components/FeedbackItem/FeedbackItem.tsx
  frontend/src/constants/page.constant.ts
  frontend/src/constants/route.constant.ts
  frontend/src/pages/Feedback/Feedback.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.style.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.style.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Waiting/Waiting.style.ts
  frontend/src/pages/Waiting/Waiting.tsx
  frontend/src/routes/PrivateRoutes.tsx
  frontend/src/styles/commonStyle.ts
Labels: 🖥️frontend, 💄 design

#161 InterviewDocsList, InterviewDocs 컴포넌트 추가
  frontend/src/components/@drawer/RecordDrawer/RecordDrawer.tsx
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@modal/InterviewDocsListModal/InterviewDocsListModal.style.ts
  frontend/src/components/@modal/InterviewDocsListModal/InterviewDocsListModal.tsx
  frontend/src/components/@modal/InterviewDocsModal.tsx
  frontend/src/components/@modal/InterviewDocsModal/InterviewDocsModal.style.ts
  frontend/src/components/@modal/InterviewDocsModal/InterviewDocsModal.tsx
  frontend/src/components/@shared/RoundButton/RoundButton.stories.tsx
  frontend/src/components/@shared/RoundButton/RoundButton.style.ts
  frontend/src/components/@shared/RoundButton/RoundButton.tsx
  frontend/src/components/BottomBar/BottomBar.tsx
  frontend/src/components/DocsItem/DocsItem.stories.tsx
  frontend/src/components/FeedbackEditBtns/FeedbackEditBtns.tsx
  frontend/src/components/FeedbackForm/FeedbackForm.tsx
  frontend/src/components/FeedbackItem/FeedbackItem.stories.tsx
  frontend/src/components/FeedbackItem/FeedbackItem.tsx
  frontend/src/components/FeedbackList/FeedbackList.tsx
  frontend/src/components/InterviewDocsItem/InterviewDocsItem.style.ts
  frontend/src/components/InterviewDocsItem/InterviewDocsItem.tsx
  frontend/src/components/ModalManager.tsx
  frontend/src/constants/modal.constant.ts
  frontend/src/constants/statusCode.constants.ts
  frontend/src/customType/dto.ts
  frontend/src/customType/feedback.d.ts
  frontend/src/hooks/useAddFeedback.ts
  frontend/src/hooks/useCleanupInterview.ts
  frontend/src/hooks/useCleanupRoom.ts
  frontend/src/hooks/useEditFeedback.ts
  frontend/src/hooks/useSafeNavigate.ts
  frontend/src/pages/Feedback/Feedback.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.style.ts
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Waiting/Waiting.tsx
  frontend/src/service/socket.ts
  frontend/src/store/auth.store.ts
  frontend/src/store/feedback.store.ts
  frontend/src/store/interview.store.ts
  frontend/src/store/interviewDocs.store.ts
  frontend/src/store/room.store.ts
  frontend/src/utils/common.util.ts
Labels: 🐞bug, 🖥️frontend, ✨feature, 🛠️refactor, 💄 design

#163 Video 컴포넌트 완성하기
  frontend/src/components/@modal/InterviewDocsModal/InterviewDocsModal.tsx
  frontend/src/components/@shared/Modal/Modal.style.ts
  frontend/src/components/@shared/StreamingVideo/StreamVideo.stories.tsx
  frontend/src/components/@shared/StreamingVideo/StreamVideo.style.ts
  frontend/src/components/@shared/StreamingVideo/StreamVideo.tsx
  frontend/src/components/@shared/Video/Video.stories.tsx
  frontend/src/components/@shared/Video/Video.style.ts
  frontend/src/components/@shared/Video/Video.tsx
  frontend/src/components/@shared/VideoGrid/VideoGrid.stories.tsx
  frontend/src/components/@shared/VideoGrid/VideoGrid.style.ts
  frontend/src/components/@shared/VideoGrid/VideoGrid.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Lobby/Lobby.style.ts
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/styles/theme.ts
Labels: 🖥️frontend, ✨feature, 💄 design

#165 Modal 추가
  frontend/.storybook/main.js
  frontend/src/components/@modal/CancelInterviewModal.tsx
  frontend/src/components/@modal/EndFeedbackModal.tsx
  frontend/src/components/@modal/EndInterviewModal.tsx
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@modal/ExitRoomModal.tsx
  frontend/src/components/@modal/InterviewDocsModal.tsx
  frontend/src/components/@modal/RoomInfoModal.tsx
  frontend/src/components/@modal/StartInterviewModal.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Modal/Modal.style.ts
  frontend/src/components/@shared/Modal/Modal.tsx
  frontend/src/components/@shared/TextField/TextField.style.ts
  frontend/src/components/@shared/TextField/TextField.tsx
  frontend/src/components/BottomBar/BottomBar.tsx
  frontend/src/components/InterviewDocsItem/InterviewDocsItem.tsx
  frontend/src/components/ModalManager.tsx
  frontend/src/constants/modal.constant.ts
  frontend/src/hooks/useModal.tsx
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/styles/theme.ts
Labels: 🖥️frontend, ✨feature

#177 User Selector에서 User 정보와 connection, stream 정보를 병합하여 관리하도록 변경
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@modal/StartInterviewModal.tsx
  frontend/src/constants/role.constant.ts
  frontend/src/hooks/useCleanupRoom.ts
  frontend/src/hooks/useUserRole.ts
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.style.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Waiting/Waiting.tsx
  frontend/src/store/interview.store.ts
  frontend/src/store/room.store.ts
  frontend/src/store/user.store.ts
  frontend/src/store/webRTC.store.ts
Labels: 🖥️frontend, 🛠️refactor

#178 Socket lifecycle에 따라 on/off 붙이기
  frontend/src/components/@modal/EndFeedbackModal.tsx
  frontend/src/components/@modal/ExitRoomModal.tsx
  frontend/src/components/@modal/StartInterviewModal.tsx
  frontend/src/hooks/useLeaveUser.ts
  frontend/src/hooks/useWebRTCSignaling.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Waiting/Waiting.tsx
Labels: 🐞bug, 🖥️frontend

#181 Not Found 페이지 완료
  frontend/src/assets/error.svg
  frontend/src/assets/preview_error.svg
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/NotFound/NotFount.style.ts
Labels: 🖥️frontend, 💄 design

#183 Not Found 페이지 만들기
  frontend/src/assets/error.svg
  frontend/src/assets/preview_error.svg
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/NotFound/NotFount.style.ts
Labels: 🐞bug, 🖥️frontend

#185 Interviewee 2차 스타일링
  frontend/src/components/BottomBar/BottomBar.style.ts
  frontend/src/constants/socket.constant.ts
  frontend/src/pages/Interviewee/Interviewee.style.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/styles/theme.ts
Labels: 🖥️frontend, 💄 design

#186 React-Tetris 적용
  frontend/package.json
  frontend/src/pages/Waiting/Tetris.style.css
  frontend/src/pages/Waiting/Waiting.style.ts
  frontend/src/pages/Waiting/Waiting.tsx
  frontend/yarn.lock
Labels: 🖥️frontend, ✨feature

#159 socket server 메모리 자료구조 redis로 포팅
  backend/socket/src/main.ts
  backend/socket/src/room/repository/redis-room.repository.ts
  backend/socket/src/room/room.module.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.ts
  frontend/src/styles/globalStyle.ts
Labels: 🐞bug, 💾backend

#188 object storage 추가 기능 구현 및 docs api 수정 및 리팩토링
  backend/rest/src/auth/controller/auth.controller.ts
  backend/rest/src/auth/service/auth.service.spec.ts
  backend/rest/src/auth/service/auth.service.ts
  backend/rest/src/auth/service/oauth/kakao-oauth.service.ts
  backend/rest/src/auth/service/oauth/naver-oauth.service.ts
  backend/rest/src/auth/strategy/access-jwt.strategy.ts
  backend/rest/src/auth/strategy/refresh-jwt.strategy.ts
  backend/rest/src/config/env.config.ts
  backend/rest/src/config/index.ts
  backend/rest/src/config/jwt.config.ts
  backend/rest/src/constant/auth.constant.ts
  backend/rest/src/constant/env.constant.ts
  backend/rest/src/constant/exception-message.constant.ts
  backend/rest/src/constant/http.constant.ts
  backend/rest/src/constant/index.ts
  backend/rest/src/constant/interview.constant.ts
  backend/rest/src/interview/controller/interview.controller.ts
  backend/rest/src/interview/service/interview.service.ts
  backend/socket/package.json
  backend/socket/src/config/env.config.ts
  backend/socket/src/config/redis.adapter.ts
  backend/socket/src/constant/env.constant.ts
  backend/socket/src/constant/event.constant.ts
  backend/socket/src/constant/index.ts
  backend/socket/src/constant/object-storage.constant.ts
  backend/socket/src/room/dto/update-media-info.dto.ts
  backend/socket/src/room/dto/user.dto.ts
  backend/socket/src/room/repository/inmemory-room.repository.ts
  backend/socket/src/room/repository/room.repository.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.ts
  backend/socket/src/room/service/objectstorage/objectstorage.service.ts
  backend/socket/src/room/service/webRTC/webrtc.service.ts
  backend/socket/src/types/room.type.ts
  backend/socket/util/rest-api.util.ts
  backend/socket/yarn.lock
Labels: 🐞bug, 💾backend, ✨feature, 🛠️refactor

#192 room repository redis 구현체
  backend/socket/src/config/pipe.config.ts
  backend/socket/src/main.ts
  backend/socket/src/room/dto/update-media-info.dto.ts
  backend/socket/src/room/dto/user.dto.ts
  backend/socket/src/room/repository/redis-room.repository.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/types/room.type.ts
Labels: 💾backend, ✨feature

#194 Interviewer & Feedback 페이지 2차 스타일링
  frontend/src/assets/sync_dot_line.svg
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Button/Button.tsx
  frontend/src/components/@shared/RoundButton/RoundButton.style.ts
  frontend/src/components/@shared/RoundButton/RoundButton.tsx
  frontend/src/components/@shared/VideoGrid/VideoGrid.style.ts
  frontend/src/components/FeedbackEditBtns/FeedbackEditBtns.style.ts
  frontend/src/components/FeedbackEditBtns/FeedbackEditBtns.tsx
  frontend/src/components/FeedbackForm/FeedbackForm.style.ts
  frontend/src/components/FeedbackForm/FeedbackForm.tsx
  frontend/src/components/FeedbackItem/FeedbackItem.style.ts
  frontend/src/components/FeedbackItem/FeedbackItem.tsx
  frontend/src/components/FeedbackList/FeedbackList.style.ts
  frontend/src/components/FeedbackList/FeedbackList.tsx
  frontend/src/pages/Feedback/Feedback.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.style.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.style.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/routes/RootRoutes.tsx
  frontend/src/store/auth.store.ts
  frontend/src/styles/globalStyle.ts
Labels: 🖥️frontend, 💄 design

#195 소켓 서버 채팅 기능 구현
  backend/rest/src/filter/http-exception.filter.ts
  backend/socket/src/constant/event.constant.ts
  backend/socket/src/room/dto/chat.dto.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/room.module.ts
  backend/socket/src/room/service/chat/chat.service.ts
  backend/socket/util/rest-api.util.ts
Labels: 💾backend, ✨feature

#197 백엔드 버그 수정
  backend/rest/src/constant/auth.constant.ts
  backend/rest/src/interview/service/interview.service.ts
  backend/socket/src/room/dto/socket-response.dto.ts
  backend/socket/src/room/dto/update-media-info.dto.ts
  backend/socket/src/room/dto/user.dto.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/types/room.type.ts
Labels: 🐞bug, 💾backend

#200 🐞 fix: (BE) - 방 삭제 및 user dto 수정
  backend/socket/src/room/service/connection/connection.service.ts
Labels: 🐞bug, 💾backend

#184 하단바의 마이크 카메라 버튼 연동
  frontend/src/assets/icon/folder.svg
  frontend/src/assets/icon/mic_off.svg
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.tsx
  frontend/src/components/@drawer/UserDrawer/UserDrawer.style.ts
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@shared/StreamingVideo/StreamVideo.style.ts
  frontend/src/components/@shared/StreamingVideo/StreamVideo.tsx
  frontend/src/components/BottomBar/BottomBar.tsx
  frontend/src/constants/media.constant.ts
  frontend/src/constants/socket.constant.ts
  frontend/src/customType/user.d.ts
  frontend/src/hooks/useCommonSocketEvent.ts
  frontend/src/hooks/usePreventLeave.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.style.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.style.ts
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Waiting/Waiting.tsx
  frontend/src/store/chatList.store.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
Labels: help wanted, 🖥️frontend, ✨feature

#207 hotfix / FeedbackDto 수정
  frontend/src/components/@modal/EndFeedbackModal.tsx
  frontend/src/customType/dto.ts
Labels: 🐞bug, 🖥️frontend

#208 Hotfix - tetrisCss emotion으로 이동
  frontend/src/pages/Waiting/Tetris.style.css
  frontend/src/pages/Waiting/Waiting.style.ts
  frontend/src/pages/Waiting/Waiting.tsx
Labels: 🐞bug, 🖥️frontend, 💄 design

#209 Hotfix/audio true
  backend/socket/src/room/dto/user.dto.ts
Labels: 🐞bug, 💾backend

#212 hotfix/테트리스 css 적용안되는 문제 fix
  frontend/src/pages/Waiting/Tetris.style.css
  frontend/src/pages/Waiting/Waiting.style.ts
  frontend/src/pages/Waiting/Waiting.tsx
Labels: 🐞bug, 🖥️frontend

#213 🐽 release v0.2.1
  frontend/src/pages/Waiting/Tetris.style.css
  frontend/src/pages/Waiting/Waiting.style.ts
  frontend/src/pages/Waiting/Waiting.tsx
Labels: release

#225 첫 webRTC 연결 시 오디오 false로 설정
  frontend/src/hooks/useWebRTCSignaling.ts
Labels: 🐞bug, 🖥️frontend

#224 바텀바 로비 재진입 시 아이콘 다시 false로 되는 문제 수정
  frontend/src/components/BottomBar/BottomBar.tsx
  frontend/src/constants/media.constant.ts
Labels: 🐞bug, 🖥️frontend

#227 🚨Hotfix: rest server filter 수정 및 actions 수정
  .github/workflows/backend-rest-deploy.yml
  backend/rest/src/filter/http-exception.filter.ts
Labels: 🐞bug, 💾backend

#229 Suspense 개별화
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.style.ts
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.tsx
  frontend/src/components/@modal/InterviewDocsModal/InterviewDocsModal.tsx
  frontend/src/components/InterviewDocsList/InterviewDocsList.style.ts
  frontend/src/components/Loading/Loading.tsx
  frontend/src/pages/Interviewer/Interviewer.style.tsx
  frontend/src/pages/Landing/Landing.style.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/yarn.lock
Labels: 🖥️frontend, ✨feature, 💄 design

#230 피드백 페이지에 면접관 넣기
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@shared/StreamingVideo/StreamVideo.style.ts
  frontend/src/components/FeedbackList/FeedbackList.style.ts
  frontend/src/pages/Feedback/Feedback.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.style.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.style.ts
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/styles/commonStyle.ts
Labels: 🖥️frontend, ✨feature, 💄 design

#231 방 입장 시에 생성자만 복사 모달이 뜨도록 수정
  frontend/src/pages/Lobby/Lobby.tsx
Labels: 🖥️frontend, ✨feature

#233 녹화 시간 초과 시 처리
  frontend/src/assets/icon/record.svg
  frontend/src/components/@modal/StartInterviewModal.tsx
  frontend/src/components/@modal/TimeOverAlertModal.tsx
  frontend/src/components/@shared/Modal/Modal.stories.tsx
  frontend/src/components/@shared/Modal/Modal.style.ts
  frontend/src/components/@shared/Modal/Modal.tsx
  frontend/src/components/ModalManager.tsx
  frontend/src/components/RecordTimeLabel/RecordTimeLabel.style.ts
  frontend/src/components/RecordTimeLabel/RecordTimeLabel.tsx
  frontend/src/hooks/useMediaStreamer.ts
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/service/mediaStreamer.ts
Labels: 🖥️frontend, ✨feature

#235 Feedback Video Loading 추가
  frontend/src/components/RecordTimeLabel/RecordTimeLabel.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
Labels: 🖥️frontend, ✨feature

#234 rest, socket 서버 버그 수정 및 rest server db 관련 리팩토링
  backend/rest/src/auth/service/auth.service.ts
  backend/rest/src/common/typeorm-base.entity.ts
  backend/rest/src/config/typeorm.config.ts
  backend/rest/src/constant/swagger.constant.ts
  backend/rest/src/filter/http-exception.filter.ts
  backend/rest/src/interceptor/http.interceptor.ts
  backend/rest/src/interview/controller/interview.controller.ts
  backend/rest/src/interview/dto/docs.dto.ts
  backend/rest/src/interview/dto/feedback.dto.ts
  backend/rest/src/interview/dto/response-docs.builder.ts
  backend/rest/src/interview/repository/interview.repository.ts
  backend/rest/src/interview/repository/typeorm-interview.repository.ts
  backend/rest/src/interview/service/interview.service.ts
  backend/rest/src/types/index.ts
  backend/rest/src/types/interview.type.ts
  backend/rest/src/user/repository/typeorm-user.repository.ts
  backend/socket/src/room/dto/chat.dto.ts
Labels: 🐞bug, 💾backend, 🛠️refactor

#232 socket connection interview service unit test code 작성
  backend/socket/package.json
  backend/socket/src/constant/event.constant.ts
  backend/socket/src/room/room.gateway.spec.ts
  backend/socket/src/room/service/connection/connection.service.spec.ts
  backend/socket/src/room/service/connection/connection.service.ts
  backend/socket/src/room/service/interview/interview.service.spec.ts
  backend/socket/src/types/index.ts
  backend/socket/src/types/mock.type.ts
  backend/socket/yarn.lock
Labels: 💾backend, ⛑test

#237 중복된 회원으로 방 생성이 안되도록 수정
  backend/socket/src/filter/socket-exception.filter.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/service/connection/connection.service.ts
Labels: 🐞bug, 💾backend

#238 Toast 구현
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/socket.api.ts
  frontend/src/assets/preview_sync.svg
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/@modal/EndFeedbackModal.tsx
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@modal/RoomInfoModal.tsx
  frontend/src/components/@modal/StartInterviewModal.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/TextField/TextField.style.ts
  frontend/src/components/InterviewDocsItem/InterviewDocsItem.style.ts
  frontend/src/components/InterviewDocsList/InterviewDocsList.tsx
  frontend/src/components/Loading/Loading.tsx
  frontend/src/constants/socket.constant.ts
  frontend/src/hooks/useCleanupRoom.ts
  frontend/src/hooks/useCommonSocketEvent.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Landing/Landing.style.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Login/Login.style.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Waiting/Waiting.tsx
  frontend/src/utils/common.util.ts
  frontend/yarn.lock
Labels: 🐞bug, 🖥️frontend, ✨feature

#240 Hotfix: base entity default 값 설정 오류 수정
  backend/rest/src/common/typeorm-base.entity.ts
Labels: 🐞bug, 💾backend

#241 배포 시 console.log 삭제
  frontend/craco.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: 🖥️frontend, ⚙️setting

#242 🐽 release v0.2.3
  frontend/craco.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: release

#244 Toast Css 에러 픽스
  frontend/src/App.tsx
Labels: 🐞bug, 🖥️frontend

#245 카카오 oauth 관련 이슈
  backend/rest/src/auth/service/oauth/kakao-oauth.service.ts
  backend/rest/src/filter/http-exception.filter.ts
Labels: 🐞bug, 💾backend

#246 🐽 release v0.2.4
  backend/rest/src/auth/service/oauth/kakao-oauth.service.ts
  backend/rest/src/filter/http-exception.filter.ts
  frontend/src/App.tsx
Labels: release

#247 Hotfix: toast library css 로드 방식 수정
  frontend/src/App.tsx
Labels: 🐞bug, 🖥️frontend

#249 Toast 컴포넌트 제작
  frontend/craco.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/socket.api.ts
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.style.ts
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.tsx
  frontend/src/components/@drawer/UserDrawer/UserDrawer.style.ts
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/@modal/EndFeedbackModal.tsx
  frontend/src/components/@modal/EndInterviewModal.tsx
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@modal/ExitRoomModal.tsx
  frontend/src/components/@modal/RoomInfoModal.tsx
  frontend/src/components/@modal/StartInterviewModal.tsx
  frontend/src/components/@modal/TimeOverAlertModal.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/BottomBar/BottomBar.tsx
  frontend/src/components/ToastManager.tsx
  frontend/src/constants/socket.constant.ts
  frontend/src/hooks/useMediaStreamer.ts
  frontend/src/hooks/useSocket.ts
  frontend/src/hooks/useToast.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/store/toast.store.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/utils/common.util.ts
  frontend/yarn.lock
Labels: 🖥️frontend, ✨feature

#250 🐽 release v0.2.5
  frontend/craco.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/socket.api.ts
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.style.ts
  frontend/src/components/@drawer/ChatDrawer/ChatDrawer.tsx
  frontend/src/components/@drawer/UserDrawer/UserDrawer.style.ts
  frontend/src/components/@drawer/UserDrawer/UserDrawer.tsx
  frontend/src/components/@modal/EndFeedbackModal.tsx
  frontend/src/components/@modal/EndInterviewModal.tsx
  frontend/src/components/@modal/EnterRoomModal.tsx
  frontend/src/components/@modal/ExitRoomModal.tsx
  frontend/src/components/@modal/RoomInfoModal.tsx
  frontend/src/components/@modal/StartInterviewModal.tsx
  frontend/src/components/@modal/TimeOverAlertModal.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/BottomBar/BottomBar.tsx
  frontend/src/components/ToastManager.tsx
  frontend/src/constants/socket.constant.ts
  frontend/src/hooks/useMediaStreamer.ts
  frontend/src/hooks/useSocket.ts
  frontend/src/hooks/useToast.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/store/toast.store.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/utils/common.util.ts
  frontend/yarn.lock
Labels: 🖥️frontend, release
