Repository boostcampwm-2022/web14-interface, pull requests merged in 2022-11, with the labels that each got.

#3 FE 개발환경 설정
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/craco.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Test/Test.stories.tsx
  frontend/src/components/Test/Test.tsx
  frontend/src/index.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/types/common.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
  frontend/yarn.lock
Labels: frontend

#5 [BE] Rest 서버 개발 환경 설정
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/env.config.ts
  backend/src/config/index.ts
  backend/src/config/swagger.config.ts
  backend/src/config/typeorm.config.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/tsconfig.path.json
  backend/yarn.lock
Labels: backend, setting

#9 BE oauth 로그인 및 회원가입
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/controller/auth.controller.spec.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/auth/service/auth.service.spec.ts
  backend/src/auth/service/auth.service.ts
  backend/src/auth/service/oauth/google-oauth.service.ts
  backend/src/auth/service/oauth/interface-oauth.service.ts
  backend/src/auth/service/oauth/naver-oauth.service.ts
  backend/src/builder/core.builder.ts
  backend/src/config/typeorm.config.ts
  backend/src/constant/auth.constant.ts
  backend/src/constant/index.ts
  backend/src/types/auth.type.ts
  backend/src/user/controller/user.controller.spec.ts
  backend/src/user/controller/user.controller.ts
  backend/src/user/dto/create-user.dto.ts
  backend/src/user/dto/update-user.dto.ts
  backend/src/user/entities/typeorm-user.entity.ts
  backend/src/user/repository/interface-user.repository.ts
  backend/src/user/repository/typeorm-user.repository.ts
  backend/src/user/service/user.service.spec.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.module.ts
  backend/tsconfig.path.json
Labels: backend, feature

#11 Video, FeedbackBox 컴포넌트 개발
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@shared/Video/Video.stories.tsx
  frontend/src/components/@shared/Video/Video.tsx
  frontend/src/components/Feedbackbox/Feedbackbox.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.stories.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/components/Test/Test.stories.tsx
  frontend/src/components/Test/Test.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/customType/common.d.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/store/feedbackStore.ts
  frontend/src/types/common.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
  frontend/yarn.lock
Labels: frontend, feature

#14 feedbackbox 컴포넌트 문서화 및 리팩터링
  frontend/src/assets/icon/broadcast.svg
  frontend/src/assets/icon/camera_off.svg
  frontend/src/assets/icon/camera_on.svg
  frontend/src/assets/icon/chat.svg
  frontend/src/assets/icon/close.svg
  frontend/src/assets/icon/copy.svg
  frontend/src/assets/icon/delete.svg
  frontend/src/assets/icon/download.svg
  frontend/src/assets/icon/edit.svg
  frontend/src/assets/icon/enter.svg
  frontend/src/assets/icon/exit.svg
  frontend/src/assets/icon/github.svg
  frontend/src/assets/icon/link.svg
  frontend/src/assets/icon/mic_off.svg
  frontend/src/assets/icon/mic_on.svg
  frontend/src/assets/icon/pause.svg
  frontend/src/assets/icon/pin.svg
  frontend/src/assets/icon/pin_selected.svg
  frontend/src/assets/icon/record.svg
  frontend/src/assets/icon/stop.svg
  frontend/src/assets/icon/user.svg
  frontend/src/assets/icon/users.svg
  frontend/src/assets/icon/video.svg
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.stories.tsx
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/customType/common.d.ts
Labels: documentation, frontend

#16 FeedbackArea 컴포넌트 구현
  frontend/.storybook/main.js
  frontend/src/App.tsx
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.tsx
  frontend/src/components/FeedbackArea/FeedbackArea.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/customType/common.d.ts
  frontend/src/customType/svgComponent.d.ts
  frontend/src/pages/Feedback.tsx
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/utils/utils.ts
  frontend/tsconfig.paths.json
Labels: frontend, feature

#18 currenttime의존 useeffect 로직 변경
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/pages/Feedback.tsx
  frontend/src/store/feedbackStore.ts
Labels: frontend, feature

#20 video feedbackarea 동기화
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/pages/Feedback.tsx
Labels: frontend, feature

#21 jwt 인증, 가드, jwt 전략
  backend/.eslintrc.js
  backend/package.json
  backend/src/auth/auth.module.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/auth/dto/create-jwt.dto.ts
  backend/src/auth/guard/jwt.guard.ts
  backend/src/auth/jwt/access-jwt.strategy.ts
  backend/src/auth/jwt/refresh-jwt.strategy.ts
  backend/src/auth/service/auth.service.ts
  backend/src/config/env.config.ts
  backend/src/config/index.ts
  backend/src/config/jwt.config.ts
  backend/src/constant/auth.constant.ts
  backend/src/constant/http.constant.ts
  backend/src/constant/index.ts
  backend/src/types/auth.type.ts
  backend/test/app.e2e-spec.ts
  backend/yarn.lock
Labels: backend, feature

#27 BE merge conflict 이슈 및 간단한 리팩토링
  backend/src/auth/auth.module.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/auth/service/auth.service.ts
  backend/src/constant/auth.constant.ts
  backend/src/constant/http.constant.ts
Labels: backend, refactor

#25 FE - FATextArea 추출
  frontend/src/components/@shared/TextArea/TextArea.tsx
  frontend/src/components/FeedbackArea/FeedbackArea.tsx
Labels: help wanted, frontend, refactor

#29 28 로그인 인증 e2e test unit test
  backend/src/auth/auth.module.ts
  backend/src/auth/service/auth.service.spec.ts
  backend/src/auth/strategy/access-jwt.strategy.ts
  backend/src/auth/strategy/refresh-jwt.strategy.ts
  backend/src/config/jwt.config.ts
Labels: 💾backend, test

#31 fe 피드백 추가 편집 삭제 기능 구현
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.stories.tsx
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.tsx
  frontend/src/pages/Feedback.tsx
  frontend/src/store/feedbackStore.ts
Labels: 🖥️frontend, feature

#33 BE 1주차 리팩토링
  backend/src/auth/auth.module.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/auth/dto/create-jwt.dto.ts
  backend/src/auth/service/auth.service.spec.ts
  backend/src/auth/service/auth.service.ts
  backend/src/auth/service/oauth/interface-oauth.service.ts
  backend/src/auth/service/oauth/kakao-oauth.service.ts
  backend/src/auth/service/oauth/naver-oauth.service.ts
  backend/src/auth/strategy/access-jwt.strategy.ts
  backend/src/auth/strategy/refresh-jwt.strategy.ts
  backend/src/builder/auth/create-jwt-payload.dto.ts
  backend/src/builder/auth/typeorm-user.builder.ts
  backend/src/builder/index.ts
  backend/src/config/jwt.config.ts
  backend/src/constant/auth.constant.ts
  backend/src/types/auth.type.ts
  backend/src/types/index.ts
  backend/src/user/entities/interface-user.entity.ts
  backend/src/user/entities/typeorm-user.entity.ts
  backend/src/user/repository/interface-user.repository.ts
  backend/src/user/repository/typeorm-user.repository.ts
  backend/tsconfig.path.json
Labels: 🐞bug, 💾backend, 🛠️refactor

#35 22 fe feedback 페이지 리팩터링
  frontend/src/components/@shared/FeedbackArea/FeedbackArea.tsx
  frontend/src/components/EditableFeedbackBox/EditableFeedbackBox.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/customType/common.d.ts
  frontend/src/hooks/useEditableFeedbackList.ts
  frontend/src/hooks/useSyncFeedbackList.ts
  frontend/src/pages/Feedback.tsx
  frontend/src/store/feedbackStore.ts
  frontend/src/utils/utils.ts
Labels: 🖥️frontend, 🛠️refactor

#39 38 ground convention 자동화
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  backend/package.json
  backend/yarn.lock
  changelog.config.js
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: ⚙️setting

#45 44 fe routing 추가
  backend/yarn.lock
  frontend/.storybook/main.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/constants/path.constant.ts
  frontend/src/constants/phase.constant.ts
  frontend/src/hooks/usePreventLeave.ts
  frontend/src/hooks/useSafeNavigate.ts
  frontend/src/pages/Feedback.tsx
  frontend/src/pages/Interviewee.tsx
  frontend/src/pages/Interviewer.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Waitting.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/RootRoutes.tsx
  frontend/src/routes/StrictRoute.tsx
  frontend/src/store/auth.atom.ts
  frontend/src/store/phase.atom.ts
  frontend/src/utils/getPathWithPhase.ts
  frontend/tsconfig.paths.json
  frontend/yarn.lock
Labels: 🖥️frontend, ✨feature

#51 49 room socket event 구현 및 테스트
  backend/socket/src/constant/room.constant.ts
  backend/socket/src/room/repository/inmemory-room.repository.ts
  backend/socket/src/room/repository/interface-room.repository.ts
  backend/socket/src/room/room.gateway.ts
  backend/socket/src/room/room.service.ts
Labels: 💾backend, ✨feature

#56 54 로그인 페이지 마크업 및 server 연결 테스트
  backend/rest/src/auth/controller/auth.controller.ts
  backend/rest/src/auth/service/oauth/kakao-oauth.service.ts
  backend/rest/src/auth/service/oauth/naver-oauth.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icon/interface_descript.svg
  frontend/src/assets/icon/interface_logo.svg
  frontend/src/assets/icon/interface_preview.svg
  frontend/src/assets/icon/kakao_oauth.svg
  frontend/src/assets/icon/naver_oauth.svg
  frontend/src/pages/Login.tsx
  frontend/yarn.lock
Labels: 🖥️frontend, 💾backend, ✨feature

#58 WIP - useWebRTC hook 만들기
  frontend/package.json
  frontend/src/hooks/useWebRTC.ts
  frontend/src/index.tsx
  frontend/src/pages/Interviewer.tsx
  frontend/src/service/socket.ts
  frontend/src/store/webRTC.atom.ts
  frontend/yarn.lock
Labels: 🖥️frontend, ✨feature

#57 피드백 페이지 상태 전역으로 추출
  frontend/src/components/@shared/FeedbackArea/FeedbackArea.tsx
  frontend/src/components/@shared/FeedbackBox/FeedbackBox.tsx
  frontend/src/components/EditableFeedbackBox/EditableFeedbackBox.tsx
  frontend/src/components/FeedbackArea/FeedbackArea.tsx
  frontend/src/components/FeedbackForm/FeedbackForm.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.stories.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/customType/feedback.d.ts
  frontend/src/hooks/useCrudFeedback.ts
  frontend/src/hooks/useEditableFeedbackList.ts
  frontend/src/hooks/useSyncFeedbackList.ts
  frontend/src/pages/Feedback.tsx
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/pages/Interviewee/Interviewee.tsx
  frontend/src/pages/Interviewer/Interviewer.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Lobby/Lobby.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/Waitting/Waitting.tsx
  frontend/src/routes/RootRoutes.tsx
  frontend/src/store/auth.atom.ts
  frontend/src/store/currentVideoTime.atom.ts
  frontend/src/store/feedback.atom.ts
  frontend/src/store/focusIndex.atom.ts
  frontend/src/utils/lowerBound.ts
  frontend/src/utils/utils.ts
Labels: 🖥️frontend, 🛠️refactor

#67 피드백 페이지 버그 수정 및 리팩터링
  frontend/public/index.html
  frontend/src/components/EditableFeedbackBox/EditableFeedbackBox.style.ts
  frontend/src/components/EditableFeedbackBox/EditableFeedbackBox.tsx
  frontend/src/components/FeedbackArea/FeedbackArea.style.ts
  frontend/src/components/FeedbackArea/FeedbackArea.tsx
  frontend/src/components/FeedbackForm/FeedbackForm.style.ts
  frontend/src/components/FeedbackForm/FeedbackForm.tsx
  frontend/src/components/IntervieweeVideo/IntervieweeVideo.tsx
  frontend/src/customType/feedback.d.ts
  frontend/src/hooks/useCrudFeedback.ts
  frontend/src/pages/Feedback/Feddback.style.ts
  frontend/src/pages/Feedback/Feedback.tsx
  frontend/src/store/auth.atom.ts
  frontend/src/store/currentVideoTime.atom.ts
  frontend/src/store/feedback.atom.ts
  frontend/src/store/focusIndex.atom.ts
  frontend/src/styles/theme.ts
Labels: 🐞bug, 🖥️frontend, 🛠️refactor

#71 mediaStreamer service 추가
  frontend/src/constants/time.constant.ts
  frontend/src/service/mediaStreamer.ts
Labels: 🖥️frontend, ✨feature

#73 Interviewer 페이지에 webRTC 이식
  frontend/src/pages/Interviewer/Interviewer.tsx
Labels: 🖥️frontend, ✨feature

#74 Interviewee 페이지에 webRTC 이식
  frontend/src/pages/Interviewee/Interviewee.tsx
Labels: 🖥️frontend, ✨feature

#79 Storybook emotion css props 미인식 버그 수정
  frontend/.storybook/main.js
Labels: 🐞bug, 🖥️frontend
